* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .container-fluid .contacInfo {
  grid-area: contacInfo;
  height: 2rem;
  background-color: #a2d6fa;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 2rem; }
  header .container-fluid .contacInfo .clock {
    height: 2.5rem;
    display: flex;
    flex-direction: row; }
    header .container-fluid .contacInfo .clock .clock p {
      display: flex;
      flex-direction: column;
      margin: 0.25rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.90rem; }
  header .container-fluid .contacInfo .phone {
    height: 2.5rem;
    display: flex;
    flex-direction: row; }
    header .container-fluid .contacInfo .phone .phone p {
      display: flex;
      flex-direction: column;
      margin: 0.25rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.90rem; }
  header .container-fluid .contacInfo .e-mail {
    height: 2.5rem;
    display: flex;
    flex-direction: row; }
    header .container-fluid .contacInfo .e-mail .e-mail p {
      display: flex;
      flex-direction: column;
      margin: 0.25rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.90rem; }

header .container .row .navbar .menu {
  grid-area: menu; }
  header .container .row .navbar .menu .div ul {
    display: flex;
    justify-content: space-around; }
    header .container .row .navbar .menu .div ul li {
      text-decoration: none;
      margin: 0.25rem;
      text-align: center;
      display: flex;
      padding: 0.25rem 1.5rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-weight: bold; }

header .container .instagramFacebook {
  height: 9rem;
  grid-area: instagramFacebook;
  display: flex;
  justify-content: right;
  align-items: end;
  margin-bottom: 0.5rem; }

.nos .videoInst {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.nos .whatsapp {
  position: fixed;
  bottom: 25px;
  right: 5px;
  display: inline-block; }

.nos .pulsate-bck {
  -webkit-animation: pulsate-bck 0.7s infinite;
  animation: pulsate-bck 0.7s infinite; }

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

footer {
  padding: 0.2rem; }
  footer .copyRight {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: darkgrey; }
    footer .copyRight h3 {
      font-size: 1rem;
      font-weight: bolder;
      font-style: italic; }
