footer {
    padding: 0.2rem;
    .copyRight {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: darkgrey;
        h3 {
            font-size: 1rem;
            font-weight: bolder;
            font-style: italic;
        
        }
    }
}